<swiper-container
  slides-per-view="1"
  speed="500"
  autoplay="true"
  speed="300"
  navigation="true"
  loop="true"
  css-mode="true"
>
  <swiper-slide>
    <div class="relative">
      <img src="./imgs/slider-image-6.jpg.png" class="" alt="..." />

      <div class="absolute w-full capitalize top-0 bottom-0 flex items-center">
        <div
          class="xl:px-[15rem] px-[3rem] flex flex-col gap-0 md:gap-4 items-start"
        >
          <p class="font-medium uppercase text-xs">
            Exclusive Offer <span class="text-main-color">-20% Off</span>
          </p>
          <h2 class="text-[#202435] text-5xl font-bold max-sm:text-lg">
            Specialist in the <br class="" />
            grocery store
          </h2>
          <div class="max-sm:flex gap-3">
            <p class="text-sm font-medium">Only this week. Don’t miss...</p>
            <div class="discount flex items-center gap-2">
              <span class="text-gray-400 font-semibold line-through">from</span>
              <span class="text-red-600 text-lg font-bold">$7.99 </span>
            </div>
          </div>
          <button
            class="inline-block text-white py-2 px-4 text-sm rounded-full bg-main-color"
          >
            Shope Now <i class="fa-solid fa-arrow-right"> </i>
          </button>
        </div>
      </div></div
  ></swiper-slide>
  <swiper-slide>
    <div class="relative">
      <img src="./imgs/slider-image-6.jpg.png" class="" alt="..." />

      <div class="absolute w-full capitalize top-0 bottom-0 flex items-center">
        <div
          class="xl:px-[15rem] px-[3rem] flex flex-col gap-0 md:gap-4 items-start"
        >
          <p class="font-medium uppercase text-xs">
            Exclusive Offer <span class="text-main-color">-20% Off</span>
          </p>
          <h2 class="text-[#202435] text-5xl font-bold max-sm:text-lg">
            Specialist in the <br class="" />
            grocery store
          </h2>
          <div class="max-sm:flex gap-3">
            <p class="text-sm font-medium">Only this week. Don’t miss...</p>
            <div class="discount flex items-center gap-2">
              <span class="text-gray-400 font-semibold line-through">from</span>
              <span class="text-red-600 text-lg font-bold">$7.99 </span>
            </div>
          </div>
          <button
            class="inline-block text-white py-2 px-4 text-sm rounded-full bg-main-color"
          >
            Shope Now <i class="fa-solid fa-arrow-right"> </i>
          </button>
        </div>
      </div></div
  ></swiper-slide>
  <swiper-slide>
    <div class="relative">
      <img src="./imgs/slider-image-6.jpg.png" class="" alt="..." />

      <div class="absolute w-full capitalize top-0 bottom-0 flex items-center">
        <div
          class="xl:px-[15rem] px-[3rem] flex flex-col gap-0 md:gap-4 items-start"
        >
          <p class="font-medium uppercase text-xs">
            Exclusive Offer <span class="text-main-color">-20% Off</span>
          </p>
          <h2 class="text-[#202435] text-5xl font-bold max-sm:text-lg">
            Specialist in the <br class="" />
            grocery store
          </h2>
          <div class="max-sm:flex gap-3">
            <p class="text-sm font-medium">Only this week. Don’t miss...</p>
            <div class="discount flex items-center gap-2">
              <span class="text-gray-400 font-semibold line-through">from</span>
              <span class="text-red-600 text-lg font-bold">$7.99 </span>
            </div>
          </div>
          <button
            class="inline-block text-white py-2 px-4 text-sm rounded-full bg-main-color"
          >
            Shope Now <i class="fa-solid fa-arrow-right"> </i>
          </button>
        </div>
      </div></div
  ></swiper-slide>
</swiper-container>
