<section class="w-1/2 mx-auto  shadow rounded  bg-gray-50 p-4  my-12 ">
  <h1 class="capitalize text-3xl text-green-400 font-light text-center mb-2"> register now </h1>
  <form [formGroup]="register" (ngSubmit)="submitFrom()">
    <div class="mb-3">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">name</label>
      <input formControlName="name" type="text" id="name"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  ">

      @if (register.get('name')?.errors && register.get('name')?.touched ) {
      <div class="flex p-4 mb-4 text-sm mt-3  text-red-800 rounded-lg bg-red-50 :bg-gray-800 :text-red-400"
        role="alert">

        <div>

          <ul class="mt-1.5 list-disc list-inside">
            @if (register.get('name')?.getError('required')) {
            <li>Name is Required</li>
            }
            @else if (register.get('name')?.getError('minlength')) {
            <li>At least 3 character</li>
            }
            @else if (register.get('name')?.getError('maxlength')) {
            <li> Name Max Length 20 </li>
            }


          </ul>
        </div>
      </div>

      }

    </div>
    <div class="mb-3">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">email</label>
      <input formControlName="email" type="email" id="email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  ">

      @if (register.get('email')?.errors && register.get('email')?.touched) {
      <div class="flex p-4 mb-4 text-sm mt-3  text-red-800 rounded-lg bg-red-50 :bg-gray-800 :text-red-400"
        role="alert">
        <div>

          <ul class="mt-1.5 list-disc list-inside">
            @if (register.get('email')?.getError('required')) {
            <li>Email Is Required</li>
            }
            @else if (register.get('email')?.getError('email')) {

            <li>Enter Valid Email</li>
            }


          </ul>
        </div>
      </div>
      }


    </div>
    <div class="mb-3">
      <label for="paswword" class="block mb-2 text-sm font-medium text-gray-900 ">paswword</label>
      <input formControlName="password" type="password" id="paswword"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  ">

      @if (register.get('password')?.errors && register.get('password')?.touched) {
      <div class="flex p-4 mb-4 text-sm mt-3  text-red-800 rounded-lg bg-red-50 :bg-gray-800 :text-red-400"
        role="alert">

        <div>

          <ul class="mt-1.5 list-disc list-inside">
            @if (register.get('password')?.getError('required')) {
            <li>Password is Required</li>
            }
            @else if (register.get('password')?.getError('pattern')) {
            <li>must be start with captial then chars</li>
            }

          </ul>
        </div>
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="rePassword" class="block mb-2 text-sm font-medium text-gray-900 ">rePassword</label>
      <input formControlName="rePassword" type="password" id="rePassword"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  ">

      @if (register.get('rePassword')?.errors && register.get('rePassword')?.touched) {
      <div class="flex p-4 mb-4 text-sm mt-3  text-red-800 rounded-lg bg-red-50 :bg-gray-800 :text-red-400"
        role="alert">

        <div>

          <ul class="mt-1.5 list-disc list-inside">
            @if (register.get('rePassword')?.getError('required')) {
            <li>rePassword is Required</li>
            }
            @else if (register.get('rePassword')?.getError('pattern')) {
            <li>must be start with captial then chars</li>
            }

          </ul>
        </div>
      </div>
      }
        @if (register.errors && register.get('rePassword')?.touched) {
        <div class="flex p-4 mb-4 text-sm mt-3  text-red-800 rounded-lg bg-red-50 :bg-gray-800 :text-red-400"
        role="alert">

        <div>

          <ul class="mt-1.5 list-disc list-inside">
            <li>Password confirmation is incorrect</li>


          </ul>
        </div>
      </div>
      }




    </div>


    <div class="mb-3">
      <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 ">phone</label>
      <input type="tel" formControlName="phone" id="phone"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  ">
      @if (register.get('phone')?.errors && register.get('phone')?.touched) {
      <div class="flex p-4 mb-4 text-sm mt-3  text-red-800 rounded-lg bg-red-50 :bg-gray-800 :text-red-400"
        role="alert">

        <div>

          <ul class="mt-1.5 list-disc list-inside">
            @if (register.get('phone')?.getError('required')) {
            <li>Phone is Required</li>

            }@else if (register.get('phone')?.getError('pattern')) {
            <li>accept only egypt phone numbers</li>
            }


          </ul>
        </div>
      </div>,
      }
    </div>
    <button  [disabled]="register.invalid"
      class="bg-green-600 px-8 py-2 capitalize text-white rounded hover:bg-green-800 transition-all duration-150 "> sign
      up </button>
    @if (msgerror) {

    <p class="bg-red-700 text-white px-2 py-6 text-center border shadow"> {{msgerror}} </p>
    }
  </form>
</section>